.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  display: flex;
  justify-content: center;
}

td {
  padding: 1vh;
}

td.customer-name {
  font-weight: 600;
}
